body {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
Home page
*/
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.header-h1 {
    margin-left: 1em;
    margin-right: auto;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 1.2em;
}

nav li:hover {
    scale: 1.1;
    cursor: pointer;
}

.logo {
    height: 80px;
    padding-top: 0.7em;
}

main {
    color: #333;
    padding: 0.5em;
    /*display: flex;
    flex-direction: column;*/
}

.top-main {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 5em 0 5em;
    align-items: center;
    gap: 3em;
}

.top-main-text {
    border-radius: 5px;
    border: 2px solid #333;
    justify-content: flex-end;
}

.top-main-picture {
    justify-content: flex-start;
}

.computer-picture {
    height: 250px;
    width: 250px;
}

.bottom-main {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 5em 0 5em;
    align-items: center;
    gap: 3em;
}

.bottom-main-text {
    border-radius: 5px;
    border: 2px solid #333;
    justify-content: flex-end;
}

.bottom-main-picture {
    justify-content: flex-start;
}

p {
    margin: 1em;
}

.main-contacts p {
    padding: 1em;
    margin: 0;
}

/*
Footer
*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*
About page
*/
.title {
    background-color: #8f8f8f;
    border-bottom: 4px solid #333;
    text-align: center;
}

.h1 {
    color: white;
}

.main-info {
    flex: 1;
}

/*
Contacts page
*/
.main-contacts {
    color: white;
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.phone {
    background-color: #333333;
    border-radius: 5px;
}

.phone-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
    gap: 0.5em;
}

.phone-title {
    font-size: 25px;
}

.phone-img {
    height: 35px;
    width: 35px;
}

.phone-content a {
    color: white;
}

.email {
    background-color: #333333;
    border-radius: 5px;
    margin: 0 10px;
}

.email-header {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
    border-bottom: 2px solid white;
}

.email-title {
    font-size: 25px;
}

.email-img {
    height: 35px;
    width: 35px;
}

.email-content a {
    color: white;
}

.container-social-media {
    background-color: #333333;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.social-media-header {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
    border-bottom: 2px solid white;
}

.social-media-title {
    font-size: 25px;
}

.social-media-img {
    height: 35px;
    width: 35px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.social-media-text {
    margin: 8px;
}

.instagram-image {
    height: 35px;
}

.facebook-image {
    height: 35px;
}

.x-image {
    height: 30px;
}

.address-header {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
    border-bottom: 2px solid #333333;
}

.address-title {
    font-size: 25px;
}

.address-img {
    height: 35px;
    width: 35px;
}

.address-map {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
}

.map-img {
    height: 35px;
    width: 35px;
}

.address {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #333;
    text-align: center;
    padding: 1em;
    margin: 0.5em 1em 1em;
}

@media screen and (max-width: 800px) {
    .main-contacts {
        display: flex;
        flex-direction: column;
        grid-template-columns: 0;
    }

    .email {
        margin: 10px 0;
    }

    .header {
        flex-direction: column;
    }

    .header-h1 {
        margin: 0.5em;
    }

    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu {
        display: none;
    }

    nav ul {
        flex-direction: column;
    }
}